:root {
    --logo-color: hsl(45, 100%, 75%);
    --dashboard-input-bg-color: hsl(214, 30%, 90%);
    --nav-bg-color: hsl(221, 50%, 45%);
    --hover-btn-color: hsl(221, 50%, 30%);
    --active-btn-color: hsl(221, 50%, 20%);
    --header-bg-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 10%);
    --menu: hsl(0, 0%, 10%);
    --active-menu: hsl(0, 0%, 100%);
    --notes-shadow: hsla(0, 0%, 0%, 0.2);
    --header-nav-shadow: hsla(0, 0%, 0%, 0.03);
    --note-bg-color: hsl(0, 0%, 100%);
}

[data-theme='dark'] {
    --logo-color: hsl(45, 100%, 75%);
    --dashboard-input-bg-color: hsl(0, 0%, 15%);
    --nav-bg-color: hsl(221, 50%, 15%);
    --hover-btn-color: hsl(221, 50%, 10%);
    --active-btn-color: hsl(221, 50%, 5%);
    --header-bg-color: hsl(0, 0%, 10%);
    --text-color: hsl(0, 0%, 90%);
    --menu: hsl(0, 0%, 90%);
    --active-menu: hsl(0, 0%, 90%);
    --notes-shadow: hsla(0, 0%, 100%, 0.2);
    --header-nav-shadow: hsla(0, 0%, 0%, 0.03);
    --note-bg-color: hsl(0, 0%, 25%);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

div, nav, header, section {
    /* border: 1px solid blue; */
}

button {
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, 0);
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

textarea {
    outline: none;
    resize: none;
}

/* BIG SECTIONS */

html, body {
    min-height: 100dvh;
    min-width: 100dvw;
}

body {
    background-color: var(--dashboard-input-bg-color);
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr;

    * {
        transition: background-color 0.2s linear;
    }
    
}

/* HAM-MENU */

#ham-menu {
    display: none;
}

/* NAV */

nav {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 3em;
    background-color: var(--nav-bg-color);
    box-shadow: 4px 0 2px var(--header-nav-shadow);

    > * {
        padding: 1rem;
    }
}

#nav-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > p {
        font-size: 3rem;
        font-family: 'Lexend', Roboto;
        color: var(--logo-color);
    }
}

#logo {
    height: 128px;
}


#nav-main {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    > span {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
        padding-left: 1.2rem;
        cursor: pointer;
    }
    p {
        font-size: 1.2rem;
        color: white;
        font-weight: 400;
        font-family: 'Noto Sans Display';
    }
    img {
        height: 32px;
    }
}

/* HEADER */

header {
    color: var(--text-color);
    z-index: 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: var(--header-bg-color);
    box-shadow: 0 4px 2px var(--header-shadow);

    > section {
        display: flex;
        flex-direction: row;
        padding: 0 4em;
    }
}

#small-header-section {
    justify-content: space-between;
    gap: 1rem;
    grid-row: 1 / 2;
}

#header-search {
    width: 60%;
    height: 100%;
    align-items: center;
    gap: 1.5rem;
}

#search-input {
    width: 100%;
    height: 50%;
    border-radius: 2rem;
    padding: 0 1rem;
    font-size: 1.2rem;
}

#header-small-pfp {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2dvw;
}

#small-pfp {
    height: 48px;
    border-radius: 100px;
}

#small-name {
    font-size: 18px;
    font-family: 'Lexend';
}

#theme-switch img {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: -48px;
    height: 32px;
    opacity: 0;
    transition: all 0.4s ease-in-out;

    &.active {
        opacity: 1;
        transform: rotate(-45deg);
    }
}

#header-search img {
    height: 20px;
}

#search-input {
    background-color: var(--dashboard-input-bg-color);
}

#big-header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-row: 2 / 3;
}

#small-header-section > div,
#big-header-section > div {
    display: flex;
}

#big-pfp, 
#header-txt {
    display: flex;
    flex-direction: column;
}

#big-pfp {
    justify-content: end;
    padding-right: 1rem;
    padding-bottom: 1rem;

    > img {
        height: 86px;
        border-radius: 200px;
    }
}

#header-txt {
    padding-bottom: 1.5rem;
    justify-content: end;
    font-family: 'Lexend';
}

.big-saudation-text {
    width: fit-content;
    font-size: clamp(2dvw, 2.3rem, 5dvw);
}

/* DASHBOARD MAIN*/

#dashboard{
    color: var(--text-color);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--dashboard-input-bg-color);
}

#dashboard-main > *,
#dashboard-side-features > * {
    padding: 1rem 1rem 0 1rem;
}

.dashboard-titles {
    padding-top: 2rem !important;
    font-family: 'Zalando Sans Expanded';
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;

    img {
        height: 24px;
    }

    button {
        background-color: rgba(255, 255, 255, 0);
        transition: transform 0.2s ease-in-out;
        
        &:hover {
            transform: translateY(-4px);
        }
    }
}

/* BODY OPACITY CLASS (applying as a class to be maintanable) */
.opacity {
    opacity: 0.4;
}

.no-scroll {
    overflow: hidden;
    height: 100dvh;
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
    body > *:not(nav):not(#ham-menu) {
        transition: opacity 0.7s ease;
    }

    nav {
        z-index: 3;
        position: fixed;
        inset: 0  auto 0 0;  
        height: 100dvh;
        transform: translateX(-300px);
        transition: all 0.5s ease-in-out;

        &.active {
            box-shadow: 4px 0 4px rgba(0, 0, 0, 0.4);
            grid-column: 1 / 2;
            display: flex;
            transform: translateX(0px);
            transition: all 0.5s ease-in-out;
        }
    }
    #small-name {
        display: none;
    }
    #nav-logo {
        padding-top: 3rem;
    }
    header, #dashboard {
        grid-column: 1 / 3;
    }
    #small-header-section {
        padding-left: 3rem;
    }
    #big-header-section {
        padding: 0 1.2rem;
    }
    #header-search {
        width: auto;
        padding: 0 1rem;
    }

    #ham-menu {
        position: absolute;
        z-index: 100;
        top: 20px;
        left: 16px;
        display: flex;
        justify-content: center;
        gap: 8px;
        flex-direction: column;

        span {
            display: block;
            width: 25px;
            height: 2px;
            background-color: var(--menu);
            transition: all 0.3s linear;
        }

        &.active span:nth-child(1) {
            transform: translateY(10px) rotate(45deg);
            background-color: var(--active-menu);
        }

        &.active span:nth-child(2) {
            opacity: 0;
        }

        &.active span:nth-child(3) {
            transform: translateY(-10px) rotate(-45deg);
            background-color: var(--active-menu);
        }
    }
    
    #input-note {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 435px) {
    body {
        grid-template-rows: 1fr 5fr;
    }
    header, #big-header-section {
        height: min-content;
    }
    #theme-switch img {
        right: -40px;
    }
    #header-search {
        padding: 0;
        gap: 4px;
        width: 50%;
    }
    #big-header-section {
        padding-top: 1rem;
    }
    #small-header-section {
        justify-content: center;
        padding: 0;

        #search-img {
            display: none;
        }
    }
    #dashboard {
        grid-template-columns: 4fr;
    }
    .dashboard-titles {
        padding: 32px 0 0 0 !important;
        justify-content: space-around;
    }
    #notes-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #note {
        padding: 16px 0;
    }
    #reminders-title {
        padding-top: 0.5rem;
    }
    #reminders-container {
        min-height: 100%;
        padding-bottom: 1rem;
        overflow-y: visible;
    }
    #calendar {
        height: 0;
        padding: 0;
        display: none;
    }
}