:root {
    --logo-color: #FFE082;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

div, nav, header, section {
    /* border: 1px solid blue; */
}

/* BIG SECTIONS */

#container {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr;
}

/* NAV */

#container > nav {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 3em;
    background-color: #14213d;
    z-index: 2;
    box-shadow: 4px 0 2px rgba(0, 0, 0, 0.030);
}

#container > nav > * {
    padding: 1rem;
}

#nav-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nav-logo > p {
    font-size: 3rem;
    font-family: 'Lexend', Roboto;
    color: var(--logo-color);
}

#logo {
    height: 128px;
}

#nav-main > span {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    padding-left: 1.2rem;
    cursor: pointer;
}

#nav-main img {
    height: 32px;
}

#nav-main p {
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    font-family: 'Noto Sans Display';
}

#nav-main {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

/* HEADER */

header {
    z-index: 1;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: white;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.030);
}

header > section {
    display: flex;
    flex-direction: row;
    padding: 0 4em;
}

#small-header-section {
    justify-content: space-between;
    grid-row: 1 / 2;
}

#header-search {
    width: 60%;
    height: 100%;
    align-items: center;
    gap: 1.5rem;
}

#search-input {
    width: 100%;
    height: 50%;
    border-radius: 2rem;
    padding: 0 1rem;
    font-size: 1.2rem;
}

#header-small-pfp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2dvw;
}

#small-pfp {
    height: 48px;
    border-radius: 100px;
}

#small-name {
    font-size: 18px;
    font-family: 'Lexend';
}

#header-search img {
    height: 20px;
}

#search-input {
    background-color: #E2E8F0;
}

#big-header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-row: 2 / 3;
}

#small-header-section > div,
#big-header-section > div {
    display: flex;
}

#big-pfp, 
#header-txt {
    display: flex;
    flex-direction: column;
}

#big-pfp {
    justify-content: end;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

#big-pfp > img{
    height: 86px;
    border-radius: 200px;
}

#header-txt {
    padding-bottom: 1.5rem;
    justify-content: end;
    font-family: 'Lexend';
}

.big-text {
    font-size: 2rem;
}

.header-btns {
    display: flex;
    align-items: end;
    padding-bottom: 2rem;
}

/* DASHBOARD MAIN*/

#dashboard{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #E2E8F0;
}

#dashboard-main > *,
#dashboard-side-features > * {
    padding: 1rem 1rem 0 1rem;
}

.dashboard-titles {
    padding-top: 2rem !important;
    font-family: 'Zalando Sans Expanded';
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.dashboard-titles img {
    height: 24px;
}

.dashboard-titles button {
    background-color: rgba(255, 255, 255, 0);
}

/* NOTES SECTION */

#notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.note {
    border-radius: 8px;
    padding: 1rem;
    background-color: white;
    border-left: 8px solid #fca311;
}

.note-body {
    display: flex;
    flex-direction: column;

}

.note-title, .note-text {
    font-family: 'Noto Sans Display';
}

.note-title {
    font-size: 18px;
    font-weight: 500;
}

.note-text {
    font-size: 15px;
    font-weight: 300;
}