/* NOTES SECTION */

#notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.9fr));
    gap: 1rem;
}

.note {
    border-radius: 8px;
    padding: 1rem;
    background-color: var(--note-bg-color);
    border-left: 8px solid #fca311;
    transform: translate(0, 0);
    transition: transform 0.2s linear;
    box-shadow: 0 0 4px var(--notes-shadow);

    &:hover {
        transform: translate(-2px, -2px);
    }
}

.note-body {
    display: flex;
    flex-direction: column;
}

.note-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    .note-buttons {
        display: flex;
        gap: 1rem;
    }
    img {
        height: 24px;
    }
}

.note-title, .note-text, #input-note-title, #input-note-text {
    font-family: 'Noto Sans Display';
}

.note-title {
    font-size: 18px;
    font-weight: 500;
}

.note-text {
    font-size: 15px;
    font-weight: 300;
}

#input-note {
    z-index: 10;
    position: absolute;
    background-color: var(--note-bg-color);
    height: clamp(35dvw, 450px, 80dvw);
    width: clamp(35dvw, 450px, 80dvw);
    box-shadow: 0 0 4px var(--notes-shadow);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.25s ease-in-out;

    &.active {
        transform: translate(-50%, -50%) scale(1);
    }
}

#input-note-body, #input-reminder-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    textarea {
        border-radius: 8px;
        padding: 0.5rem 1rem;
        display: block;
        width: 100%;
        scrollbar-width: none;
        background-color: var(--dashboard-input-bg-color);
        color: var(--text-color);
        transition: none;

        &::-webkit-scrollbar {
            height: 0;
            width: 0;
        }
    }
    #input-note-title {
        height: auto;
        font-weight: 600;
        font-size: clamp(2.2dvw, 36px, 48px);
    }
    #input-note-text {
        font-size: 18px;
        height: 100%;
    }
    #input-note-btns {
        display: flex;
        justify-content: space-between;

        button {
            border-radius: 10px;
            padding: 0.5rem 1rem;
            background-color: var(--nav-bg-color);
            color: white;
            font-family: 'Noto Sans Display';
        }
    }
}

/* REMINDERS */
#input-reminder {
    position: absolute;
    z-index: 10;
    background-color: var(--note-bg-color);
    height: clamp(300px, 350px, 65dvw);
    width: clamp(300px, 350px, 65dvw);
    box-shadow: 0 0 4px var(--notes-shadow);
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.25s ease-in-out;

    &.active {
        transform: translate(-50%, -50%) scale(1);
    }
}

#input-reminder-body {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    #input-reminder-text {
        height: 100%;
        font-weight: 500;
        font-size: 16px;
    }
    #input-reminder-btns {
        display: flex;
        justify-content: space-between;

        button {
            border-radius: 10px;
            padding: 0.5rem 1rem;
            background-color: var(--nav-bg-color);
            color: white;
            font-family: 'Noto Sans Display';
        }
    }
}

#input-reminder-btns button:hover,
#input-note-btns button:hover{
    background-color: var(--hover-btn-color) !important;
}

#input-reminder-btns button:active,
#input-note-btns button:active{
    background-color: var(--active-btn-color) !important;
}

.hidden {
    display: none;
    scale: 0;
}